@model TechnologyBlogSolution.ViewModels.SubjectModels.FullSubjectDetailsModel

@{
    ViewBag.Title = "Posts";
}
<div style="text-align:center"><h3>@Model.Name</h3></div>
<div>@Model.Description</div>
<hr />  
<div class="row">
    @foreach (var post in Model.Posts)
    {
        <div class="col-md-12" style="margin-bottom:3%; padding-left:0px">
            <div class="card">
                <div>
                Actions:
                    <div>@Html.ActionLink("Edit","EditPost", "Post", new { post.Id }, new { @class="btn btn-primary"})</div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">@post.Name</h5>
                    <p class="card-text">@post.Content</p>
                </div>
                <div class="card-footer text-muted">
                    <div style="float:left">@post.Timestamp</div>
                    <div style="float:right">@post.Author.Name</div>
                </div>
            </div>
        </div>
    }
</div>
