@model TechnologyBlogSolution.ViewModels.SubjectModels.SubjectsPartialView

<div class="row" style="margin-bottom:3%">
    <div class="row">
    @foreach (var subject in Model.Subjects)
    {
        <div class="card col-md-3" style="margin-bottom:5%; margin-right:2%">
            <div>
                <span>
                    @Html.ActionLink("Edit", "Edit", "Subject", new { subject.Id }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Delete", "Delete", "Subject", new { subject.Id }, new { @class = "btn btn-danger btn-sm" })
                    @Html.ActionLink("Open", "Posts", "Subject", new { subject.Id }, new { @class = "btn btn-success btn-sm" })
                </span>
            </div>
            <div class="card-body">
                <h5 class="card-title">@subject.Name</h5>
                <p class="card-text">@subject.Description</p>
                <p class="card-footer">@subject.NumberOfPosts posts</p>
            </div>
        </div>
    }
    </div>
        <hr />
</div>
    <div>
    <span>
        @for (int i = 0; i < Model.NumberOfPages; i++)
        {
            if (Model.CurrentPage == i)
            {
                <input type="button" class="btn btn-success btn-sm" value="@i" onclick="getSubjectsForPage(@i)" />
            }
            else
            {
                <input type="button" class="btn btn-primary btn-sm" value="@i" onclick="getSubjectsForPage(@i)" />
            }
        }
    </span>
    </div>
