@model TechnologyBlogSolution.ViewModels.PostModels.DetailsPostView

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>
</div>

<div class="col-md-6">
    @using (Html.BeginForm("AddComment", "Comment", FormMethod.Post))
    {
    <input name="Id" value="@Model.Id" hidden="hidden"/>
    <textarea class="form-control" style="width:100%" name="Content"></textarea><br />
    <input type="submit" onclick="showMore(0)" value="Add comment" class="btn btn-success"/>
    }

</div>
<hr />
<div id="comments-container" class="col-md-6">
       
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>

    $(document).ready(function () {
        showMore(0);
    });

    function showMore(pageNumber)
    {
        $.ajax({
            "url": "/Post/PostCommentsPartial",
            "type": "get",
            "data": { postId: @Model.Id, pageNumber: pageNumber },
            success: function (commentsPage)
            {
                $("#show-more-button").remove();
                $("#comments-container").append(commentsPage);
            }
        })
    }
</script>